<section class="m-genr" ng-init="getPRE()">
    <h2>Preguntas de Seguridad</h2>
    <form name="frmOp" role="form">
    <div class="container ng-scope" ng-init="getPREALL()">
      <div class="col-md-6 col-center">
        <div class="form-horizontal ng-pristine ng-valid" method="post" role="form">
          <div class="form-group">
            <div class="row">
              <label class="control-label col-md-4" for="preg1">Pregunta #1</label>
              <select ng-model="preg1.id_PreguntaSeguridad" class="form-control" ng-options="pregunta.id as pregunta.enunciado for pregunta in listapreg" name="preg1">
             <label class="control-label col-md-4" for="resp1">Respuesta #1</label>
               <div class="col-md-8"><input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Ingrese Respuesta" ng-model="preg1.resp" ng-required="true"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
             <label class="control-label col-md-4" for="preg2">Pregunta #2</label>
              <select ng-model="preg2.id_PreguntaSeguridad" class="form-control" ng-options="pregunta.id as pregunta.enunciado for pregunta in listapreg" name="preg2">
             <label class="control-label col-md-4" for="resp2">Respuesta #2</label>
               <div class="col-md-8"><input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Ingrese Respuesta" ng-model="preg2.resp" ng-required="true"></div>
            </div>
          </div>
          <!--
          <div class="form-group">
            <div class="row">
            <label class="control-label col-md-4" for="preg3">Pregunta #3</label>
              <select ng-model="preg3.id_PreguntaSeguridad" class="form-control" ng-options="pregunta.id as pregunta.enunciado for pregunta in listapreg" name="preg3">
             <label class="control-label col-md-4" for="resp3">Respuesta #3</label>
               <div class="col-md-8"><input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Ingrese Respuesta" ng-model="resp3" ng-required="true"></div>
            </div>
          </div>
           -->
          <div class="form-group col-md-12">
            <input type="button" class="btn btn_c1" data-dismiss="modal" value="Actualizar" ng-disabled="frmOp.$invalid" ng-click="updPRE(preg1, preg2)">
          </div>
        </div>
      </div>
    </div>
    </form>
</section>
