<any ng-init="getAll()">
<section class="ng-scope m-cont">
<div class="container ng-scope">
    <h2>Mis Contenidos</h2>

    <div class="bjd">
        <button class="btn " data-toggle="modal" data-target="#m-agr-tema" type="button">
          <i class="fa fa-plus-circle"></i> Agregar Tema / Subtema
        </button>
        <!-- button class="btn " data-toggle="modal" type="button" ng-click="preguntasPage(null,null)">
          <i class="fa fa-plus-circle"></i> Preguntas / Respuestas
        </button -->
    </div>


    <div class="tree well">
    <ul>
        <li ng-repeat="nodo in arbolito">
            <span><i class="fa fa-folder" aria-hidden="true"></i> {{nodo.nombre}}</span> <a href="">Editar</a>
            <ul>
                <li ng-repeat="nodohijo in nodo.hijos">
                	<span><i class="fa fa-file" aria-hidden="true"></i> {{nodohijo.nombre}}</span>
                    <button class="btn " type="button" data-toggle="modal" data-target="#m-edi-estb" ng-click="getTemaById(nodohijo.id);">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                    </button>
                    <button class="btn " type="button" data-toggle="modal" data-target="#m-eliminar" ng-click="delTMP(nodohijo.id)">
                        <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                    </button>
                    <button class="btn " type="button" data-toggle="modal" data-target="#m-preguntas" ng-click="preguntasPage(nodo.id, nodohijo.id, nodohijo.nombre);">
                        <i class="fa fa-question-circle" aria-hidden="true"></i> Preguntas
                    </button>
                    <!-- ul>
                        <li>
	                        <span><i class="icon-leaf"></i> Grand Child</span> <a href="">Goes somewhere</a>
                        </li>
                    </ul -->
                </li>
            </ul>
        </li>
    </ul>
</div>

</div>
</section>

<!-- Modal Eliminar -->
<div id="m-eliminar" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Eliminar Contenido [{{id_del}}]</h4>
            </div>
            <div class="modal-body ng-scope"><p>¿Estás seguro de querer eliminar este registro?</p></div>
                <div class="modal-footer"><button type="button" class="btn btn_c1" data-dismiss="modal" ng-click="delTEM()"><i class="fa fa-check-circle" aria-hidden="true"></i>Sí</button><button type="button" class="btn btn_c2" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>No</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal Eliminar -->

<!-- Modal Editar-->
  <div id="m-edi-estb" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Editar Contenido</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <div class="row">
                <label class="control-label col-md-8" for="nombre">Nombre</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="nombre" placeholder="Enunciado" ng-model="registroEdit.nombre" ng-required="required">
                  <input type="hidden" ng-model="registroEdit.id">
                </div>
              </div>
              <div class="row">
                  <label class="control-label col-md-8" for="tema">Tema</label>
                  <div class="col-md-8">
                      <select ng-model="registroEdit.id_Tema_Padre" class="form-control" ng-options="tema.id as tema.nombre for tema in comboTemas">
                    </select>
                  </div>
              </div>
              <div class="row">
                   <label class="control-label col-md-8" for="respuesta">Estado</label>
                    <div class="col-md-8">
                        <input type="checkbox" ng-model="registroEdit.estado" ng-true-value="'A'" ng-false-value="'I'">
                        <strong ng-if="registroEdit.estado == 'A'"> Activo</strong><strong ng-if="registroEdit.estado == 'I'"> Inactivo</strong>
                   </div>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="updTEM(registroEdit)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Editar -->

<!-- Modal Agregar Establecimiento-->
  <div id="m-agr-tema" class="modal fade" role="dialog" aria-hidden="true" style="display: none;" ng-init="datos = null">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Agregar Tema/Subtema</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <div class="row">
                <label class="control-label col-md-4" for="nombTema">Nombre Tema</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="nombTema" placeholder="Ingrese nombre de Tema" ng-model="datos.nombre">
                  <input type="checkbox" ng-model="chksubtema">Es subtema?
                </div>
              </div>
              <div class="row" ng-show="chksubtema">
                    <label class="control-label col-md-8" for="nombre">Tema</label>
                    <select ng-model="datos.id_Tema_Padre" class="form-control" ng-options="tema.id as tema.nombre for tema in comboTemas">
                    </select>
              </div>
              <div class="more"></div>
            </div>
            <div class="row">
                   <label class="control-label col-md-8" for="respuesta">Estado</label>
                   <div class="col-md-8">
                        <input type="checkbox" ng-model="datos.estado" ng-true-value="'A'" ng-false-value="'I'">
                        <strong ng-if="datos.estado == 'A'"> Activo</strong><strong ng-if="datos.estado == 'I'"> Inactivo</strong>
                   </div>
            </div>

            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="addTEM(datos)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Agregar -->
</any>
<style>
    .tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;

</style>
<script>
    $(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');

</script>
