<any ng-init="getAll()">
<section class="ng-scope m-cont">
<div class="container ng-scope">
    <h2>Mis Contenidos</h2>

    <div class="bjd">
        <button class="btn " data-toggle="modal" data-target="#m-agr-tema" type="button">
          <i class="fa fa-plus-circle"></i> Agregar Tema
        </button>
        <button class="btn " data-toggle="modal" data-target="#m-agr-eje" type="button">
          <i class="fa fa-plus-circle"></i> Agregar Eje Temático
        </button>
        <button class="btn danger" data-toggle="modal" data-target="#m-eli-tem" type="button">
          <i class="fa fa-trash"></i> Eliminar Tema
        </button>
        <button class="btn " data-toggle="modal" data-target="#m-agr-con" type="button">
          <i class="fa fa-plus-circle"></i> Agregar Contenido Eje
        </button>
        <!-- button class="btn " data-toggle="modal" type="button" ng-click="preguntasPage(null,null)">
          <i class="fa fa-plus-circle"></i> Preguntas / Respuestas
        </button -->
    </div>

    <ul class="nav nav-tabs">
      <li ng-class="{'active': $index == 0, '': $index > 0}" ng-repeat="nodo in comboTemas"><a data-toggle="tab" href="!#{{nodo.id}}">{{nodo.nombre}}</a></li>
    </ul>

    <br>
    <h4>Debe seleccionar un eje temático y luego un contenido del eje</h4>
    <p>Los ejes temáticos son una caractegoría para personalizar los contenidos de evaluación.</p>

        <div class="tab-content">
              <div ng-repeat="nodo in arbolito" id="{{nodo.id}}" ng-class="{'tab-pane fade in active': $index == 0,'tab-pane fade': $index > 0}">
                <div class="col-md-6">
                  <div class="list-group">
                    <li class="list-group-item active">
                      <b>Eje Temático</b> <small>  (haga click sobre el botón "Seleccionar")</small>
                    </li>
                    <li ng-repeat="nodohijo in nodo.hijos" class="list-group-item">
                      {{nodohijo.nombre}}
                      &emsp;
                      &emsp;
                      &emsp;
                      &emsp;
                      &emsp;
                      &emsp;
                      &emsp;
                      <button class="btn " type="button" data-toggle="modal" data-target="#m-eliminar" ng-click="delTMP(nodohijo.id)">
                          <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                      </button>
                      <button class="btn " type="button" ng-click="selSubitem(nodohijo.id)">
                          <i class="fa fa-question-circle" aria-hidden="true"></i> Seleccionar
                      </button>
                    </li>
                  </div>
                </div>
                <div class="col-md-6">
                        <ul class="list-group">
                          <li href="" class="list-group-item active">
                            <b>Contenidos del Eje Seleccionado</b>
                          </li>
                          <li class="list-group-item" ng-repeat="cont in contenidos">
                            {{cont.nombre}}
                            &emsp;
                            &emsp;
                            &emsp;
                            &emsp;
                            &emsp;
                            &emsp;
                            &emsp;
                            <button class="btn " type="button" data-toggle="modal" data-target="#m-eliminar" ng-click="delTMP(cont.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                            </button>
                            <button class="btn " type="button" data-toggle="modal" data-target="#m-preguntas" ng-click="preguntasPage(ejeTematico, cont.id, cont.nombre);">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> Preguntas
                            </button>
                          </li>
                </div>
              </div>
        </div>
</div>
</section>

<!-- Modal Eliminar -->
<div id="m-eliminar" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Eliminar Contenido [{{id_del}}]</h4>
            </div>
            <div class="modal-body ng-scope"><p>¿Estás seguro de querer eliminar este registro?</p></div>
                <div class="modal-footer"><button type="button" class="btn btn_c1" data-dismiss="modal" ng-click="delCON()"><i class="fa fa-check-circle" aria-hidden="true"></i>Sí</button><button type="button" class="btn btn_c2" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>No</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal Eliminar -->

<!-- Modal Editar-->
  <div id="m-edi-estb" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Editar Contenido</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <div class="row">
                <label class="control-label col-md-8" for="nombre">Nombre</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="nombre" placeholder="Enunciado" ng-model="registroEdit.nombre" ng-required="required">
                  <input type="hidden" ng-model="registroEdit.id">
                </div>
              </div>
              <div class="row">
                  <label class="control-label col-md-8" for="tema">Tema</label>
                  <div class="col-md-8">
                      <select ng-model="registroEdit.id_Tema_Padre" class="form-control" ng-options="tema.id as tema.nombre for tema in comboTemas">
                    </select>
                  </div>
              </div>
              <div class="row">
                   <label class="control-label col-md-8" for="respuesta">Estado</label>
                    <div class="col-md-8">
                        <input type="checkbox" ng-model="registroEdit.estado" ng-true-value="'A'" ng-false-value="'I'">
                        <strong ng-if="registroEdit.estado == 'A'"> Activo</strong><strong ng-if="registroEdit.estado == 'I'"> Inactivo</strong>
                   </div>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="updTEM(registroEdit)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Editar -->

<div id="m-agr-con" class="modal fade" role="dialog" aria-hidden="true" style="display: none;" ng-init="datos = null">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Agregar Contenido</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal" role="form">
          <div class="form-group col-md-12">
            <div class="row">
              <label class="control-label col-md-4" for="nombTema">Nombre Contenido</label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="nombTema" placeholder="Ingrese nombre de Contenido" ng-model="datos.nombre">
              </div>
            </div>
            <div class="more"></div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="addCON(datos)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Agregar Establecimiento-->
  <div id="m-agr-tema" class="modal fade" role="dialog" aria-hidden="true" style="display: none;" ng-init="datos = null">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Agregar Tema</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <div class="row">
                <label class="control-label col-md-4" for="nombTema">Nombre Tema</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="nombTema" placeholder="Ingrese nombre de Tema" ng-model="datos.nombre">
                </div>
              </div>
              <div class="more"></div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="addTEM(datos)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Agregar -->
<!-- Modal Agregar Establecimiento-->
  <div id="m-agr-eje" class="modal fade" role="dialog" aria-hidden="true" style="display: none;" ng-init="datos = null">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Agregar Eje Temático</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <div class="row">
                <label class="control-label col-md-4" for="nombre">Tema</label>
                <div class="col-md-8">
                  <select ng-model="datos.id_Tema_Padre" class="form-control" ng-options="tema.id as tema.nombre for tema in comboTemas">
                  </select>
                </div>
              </div>
              <div class="row">
                <label class="control-label col-md-4" for="nombTema">Eje Temático</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="nombTema" placeholder="Ingrese nombre de Tema" ng-model="datos.nombre">
                </div>
              </div>

              <div class="more"></div>
            </div>


            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="addTEM(datos)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Agregar -->
<!-- Modal Agregar Establecimiento-->
  <div id="m-eli-tem" class="modal fade" role="dialog" aria-hidden="true" style="display: none;" ng-init="datos = null">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Eliminar Tema</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <div class="row">
                <label class="control-label col-md-4" for="nombre">Tema</label>
                <div class="col-md-8">
                  <select ng-model="datos.id_Tema_Padre" class="form-control" ng-options="tema.id as tema.nombre for tema in comboTemas">
                  </select>
                </div>
              </div>
              <div class="more"></div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Eliminar" ng-click="delTEM(datos.id_Tema_Padre)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Agregar -->
</any>
