<any ng-controller="preguntasController" ng-init="getPreguntas();getComboCategoria()">
<section class="ng-scope m-cont">
<div class="container ng-scope">
    <h2>Mis Preguntas y Respuestas</h2>

    <div class="bjd">
        <div class="row" ng-show="muestraTema">
            <div class="col-md-12"><h3>Tema Seleccionado: {{ nombreTema }}</h3></div>
        </div>
        <!-- div class="row" ng-show="!muestraTema">
            <div class="col-md-4">
            <h3>Tema</h3>
            <select ng-model="datos.id_Tema_Padre" class="form-control" ng-options="tema.id as tema.nombre for tema in comboTemas">
            </select>
            </div>
            <div class="col-md-4">
            <h3>Sub-Tema</h3>
            <select ng-model="datos.id_subtema" class="form-control" ng-options="stema.id as stema.nombre for stema in comboSubTemas | filter: { id_Tema_Padre:datos.id_Tema_Padre}" ng-change="getPreguntas(datos.id_subtema)">
            </select>
            </div>
        </div -->
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="!#seleccion" data-toggle="tab">Seleccion Multiple</a></li>
        <li role="presentation"><a href="!#verdadero" data-toggle="tab">Verdadero o Falso</a></li>
    </ul>
    <!--// Preguntas Seleccion Multiple --->
    <div class="tab-content ">
        <div class="tab-pane active" id="seleccion">
            <div class="row" id="">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Pregunta</th>
                      <th scope="col">Respuesta (1)</th>
                      <th scope="col">Respuesta (2)</th>
                      <th scope="col">Respuesta (3)</th>
                      <th scope="col">Respuesta (4)</th>
                      <th scope="col">Respuesta (5)</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="reg in preguntaList" ng-show="reg.pregunta.tipo_Pregunta == 'SM'">
                         <th>{{ reg.pregunta.descripcion_Pregunta }}</th>
                         <td ng-repeat="reg2 in reg.respuestas">{{ reg2.descripcion_Respuesta }} <i class="fa fa-check-circle" aria-hidden="true" ng-show="reg2.correcta_Respuesta == 'S'"></i></td>
                     </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="verdadero">
            <div class="row">
                <div class="col-md-8">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Pregunta</th>
                      <th scope="col">Verdadero</th>
                      <th scope="col">Falso</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="reg3 in preguntaList" ng-show="reg3.pregunta.tipo_Pregunta == 'VF'">
                      <th scope="row">{{ reg3.pregunta.descripcion_Pregunta }}</th>
                      <td ng-repeat="reg4 in reg3.respuestas">{{ reg4.descripcion_Respuesta }} <i class="fa fa-check-circle" aria-hidden="true" ng-show="reg4.correcta_Respuesta == 'S'"></i></td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>



    <!-- div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Preguntas</strong></div>
              <div class="panel-body">
                <form id="frm0" name="frm0">
                <div class="row" ng-repeat="reg in preguntaList">
                    <div class="col-md-8">
                        <div class="input-group" >
                        <input type="hidden" ng-model="reg.id">
                        <input type="text" ng-model="reg.descripcion" class="form-control" ng-required="true" placeholder="Ingrese Pregunta" ng-blur="updPregunta(reg)">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn " type="button" ng-click="getRespuesta(reg.id)" ng-show="reg.id != null" data-toggle="tooltip" data-placement="top" title="Respuestas">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                        </button>
                        <button class="btn " type="button" ng-click="delPregunta(reg.id)" ng-show="reg.id != null" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="row" ng-repeat="regn in preguntaListNew">
                        <div class="input-group" >
                        <input type="hidden" ng-model="regn.id">
                        <input type="text" ng-model="regn.descripcion" class="form-control" ng-required="true" placeholder="Ingrese Pregunta" ng-required="true" ng-blur="addPreguntaSola(regn)">
                        </div>
                        <br>
                </div>
                <button class="btn " data-toggle="modal" type="button" ng-click="addPregunta()" ng-show="temaActual != null">
                    <i class="fa fa-plus"></i>Agregar
                </button>
                <button class="btn " data-toggle="modal" type="button" ng-click="grabaPregunta()" ng-show="((temaActual != null) && (preguntaListNew.length > 0))" ng-disabled="!frm0.$valid">
                    <i class="fa fa-save"></i>Grabar
                </button>
                </form>
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Respuestas</strong></div>
              <div class="panel-body">
                  <div class="row" ng-repeat="regR in listadoRespuesta">
                        <div class="input-group" >
                        <input type="text" ng-model="regR.descripcion" class="form-control" ng-required="true">
                        <input type="checkbox" ng-model="regR.correcta" ng-true-value="'S'" ng-false-value="'N'" ng-checked="regR.correcta == 'S'"><strong>Correcta</strong>
                        </div>
                        <br>
                    </div>
              </div>
                <button class="btn " data-toggle="modal" type="button" ng-click="addRespuesta()" ng-show="preguntaActual != null">
                    <i class="fa fa-plus"></i>Agregar
                </button>
                <button class="btn " data-toggle="modal" type="button" ng-click="grabaRespuesta()" ng-show="preguntaActual != null">
                    <i class="fa fa-save"></i>Grabar
                </button>
            </div>
        </div>
    </div-->
</div>
</section>
</any>

