<any ng-controller="preguntasController" ng-init="getPreguntas();getComboCategoria()">
<section class="ng-scope m-cont">
<div class="container ng-scope">
    <h2>Mis Preguntas y Respuestas</h2>

    <div class="bjd">
        <button class="btn " data-toggle="modal" data-target="#m-agr-preg" type="button">
          <i class="fa fa-plus-circle"></i> Agregar Pregunta y Respuestas
        </button>
        <div class="row" ng-show="muestraTema">
            <div class="col-md-12"><h3>Tema Seleccionado: {{ nombreTema }}</h3></div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="!#seleccion" data-toggle="tab">Seleccion Multiple</a></li>
        <li role="presentation"><a href="!#verdadero" data-toggle="tab">Verdadero o Falso</a></li>
    </ul>
    <!--// Preguntas Seleccion Multiple --->
    <div class="tab-content ">
        <div class="tab-pane active" id="seleccion">
            <div class="row" id="">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Pregunta</th>
                      <th scope="col">Respuesta (1)</th>
                      <th scope="col">Respuesta (2)</th>
                      <th scope="col">Respuesta (3)</th>
                      <th scope="col">Respuesta (4)</th>
                      <th scope="col">Respuesta (5)</th>
                    </tr>
                  </thead>
                  <tbody>

                     <tr ng-repeat="reg in preguntaList" ng-show="reg.pregunta.tipo_Pregunta == 'SM'">
                         <td>
                             <div class="btn-group">
                              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="" ng-click="delPreguntaRespuestas(reg)">Eliminar</a></li>
                                <li><a href="" data-toggle="modal" data-target="#m-edi-preg" ng-click="editTemporal(reg)">Editar</a></li>
                              </ul>
                            </div>
                         </td>
                         <th>
                             {{ reg.pregunta.descripcion_Pregunta }}
                         </th>
                         <td ng-repeat="reg2 in reg.respuestas">{{ reg2.descripcion_Respuesta }} <i class="fa fa-check-circle" aria-hidden="true" ng-show="reg2.correcta_Respuesta == 'S'"></i></td>
                     </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="verdadero">
            <div class="row">
                <div class="col-md-8">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Pregunta</th>
                      <th scope="col">Verdadero</th>
                      <th scope="col">Falso</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="reg3 in preguntaList" ng-show="reg3.pregunta.tipo_Pregunta == 'VF'">
                       <td>
                             <div class="btn-group">
                              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="" ng-click="delPreguntaRespuestas(reg3)">Eliminar</a></li>
                                <li><a href="" data-toggle="modal" data-target="#m-edi-preg" ng-click="editTemporal(reg3)">Editar</a></li>
                              </ul>
                            </div>
                         </td>
                      <th scope="row">{{ reg3.pregunta.descripcion_Pregunta }}</th>
                      <td ng-repeat="reg4 in reg3.respuestas">{{ reg4.descripcion_Respuesta }} <i class="fa fa-check-circle" aria-hidden="true" ng-show="reg4.correcta_Respuesta == 'S'"></i></td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Modal Agregar Pregunta-->
  <div id="m-agr-preg" class="modal fade" role="dialog" aria-hidden="true" style="display: none;" ng-init="datos = null">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Agregar Pregunta y Respuestas</h4>
        </div>
        <div class="modal-body">
          <form name="frmOp">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
             <div class="row">
                <!-- label class="control-label col-md-4" for="tipoPregunta">Tipo Pregunta</label -->
                <div class="col-md-8">
                    <label class="radio-inline"><input type="radio" name="optradio" value="SM" ng-model="datos.pregunta.tipo_Pregunta" ng-change="tipoPregunta()">Selecci&oacute;n M&uacute;ltiple</label>
                    <label class="radio-inline"><input type="radio" name="optradio" value="VF" ng-model="datos.pregunta.tipo_Pregunta" ng-change="tipoPregunta()">Verdadero y Falso</label>
                </div>
              </div>
             <div class="row">
                <label class="control-label col-md-4" for="nomCate">Categor&iacute;a</label>
                <div class="col-md-4">
                   <select ng-model="datos.pregunta.id_Categoria" class="form-control" ng-options="cate.id as cate.nombre for cate in comboCategoria" ng-required="true">
                    </select>
                </div>
              </div>
              <div class="row">
                <label class="control-label col-md-4" for="nombTema">Pregunta</label>
                <div class="col-md-8">
                  <textarea cols="6" rows="4" class="form-control" id="nombTema" placeholder="Ingrese nombre de Tema" ng-model="datos.pregunta.descripcion_Pregunta" ng-required="true"></textarea>
                  <!-- input type="text" class="form-control" id="nombTema" placeholder="Ingrese nombre de Tema" ng-model="datos.pregunta.descripcion_Pregunta" ng-required="true" -->
                </div>
              </div>
              <div class="row" ng-repeat="re in datos.respuestas">
                <label class="control-label col-md-4">Respuesta ({{$index + 1}})</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="Ingrese Respuesta" ng-model="re.descripcion_Respuesta" ng-required="true" >
                  Correcta? <input type="checkbox" ng-model="re.correcta_Respuesta" ng-true-value="'S'" ng-false-value="'N'" ng-click="updateSelection($index,datos.respuestas)">
                        <strong ng-if="re.correcta_Respuesta == 'S'"> Correcta</strong><strong ng-if="re.correcta_Respuesta == 'N'"> Incorrecta</strong>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="addPreguntaRespuestas(datos)" ng-disabled="!frmOp.$valid||!tieneCorrecta">
            </div>
          </div>
         </form>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Agregar -->
<!-- Modal Editar Pregunta-->
  <div id="m-edi-preg" class="modal fade" role="dialog" aria-hidden="true" style="display: none;" ng-init="datos = null">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Editar Pregunta y Respuestas</h4>
        </div>
        <div class="modal-body">
          <form name="frmOp1">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
             <div class="row">
                <!-- label class="control-label col-md-4" for="tipoPregunta">Tipo Pregunta</label -->
                <div class="col-md-8">
                    <label class="control-label col-md-8" ng-show="editar.pregunta.tipo_Pregunta == 'SM'">Selecci&oacute;n M&uacute;ltiple</label>
                    <label class="control-label col-md-8" ng-show="editar.pregunta.tipo_Pregunta == 'VF'">Verdadero y Falso</label>
                </div>
              </div>
             <div class="row">
                <label class="control-label col-md-4" for="nomCate">Categor&iacute;a</label>
                <div class="col-md-4">
                   <select ng-model="editar.pregunta.id_Categoria" class="form-control" ng-options="cate.id as cate.nombre for cate in comboCategoria" ng-required="true">
                    </select>
                </div>
              </div>
              <div class="row">
                <label class="control-label col-md-4" for="nombTema">Pregunta</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="nombTema" placeholder="Ingrese nombre de Tema" ng-model="editar.pregunta.descripcion_Pregunta" ng-required="true">
                </div>
              </div>
              <div class="row" ng-repeat="re in editar.respuestas">
                <label class="control-label col-md-4">Respuesta ({{$index + 1}})</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="Ingrese Respuesta" ng-model="re.descripcion_Respuesta" ng-required="true">
                  Correcta? <input type="checkbox" ng-model="re.correcta_Respuesta" ng-true-value="'S'" ng-false-value="'N'">
                        <strong ng-if="re.correcta_Respuesta == 'S'"> Correcta</strong><strong ng-if="re.correcta_Respuesta == 'N'"> Incorrecta</strong>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="updPreguntaRespuestas(editar)" ng-disabled="!frmOp1.$valid">
            </div>
          </div>
         </form>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Editar -->
</any>

