<section class="ng-scope m-curs">
<div class="container ng-scope" ng-init="getAll()">
    <h2>Mis Cursos</h2>
     <div class="bjd">
        <button class="btn " data-toggle="modal" data-target="#m-agr-estb" type="button">
          <i class="fa fa-plus-circle"></i> Agregar
        </button>
        <button class="btn" data-toggle="modal" data-target="#m-edi-estb" ng-click="editNIV()">
          <i class="fa fa-pencil"></i> Editar
        </button>
         <button class="btn" data-toggle="modal" data-target="#m-eliminar">
          <i class="fa fa-trash"></i> Eliminar
        </button>
      </div>
      <div class="row row-centered">
        <div class="col-md-9 col-centered">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-edit ui-grid-selection class="grid"></div>
        </div>
      </div>
      <p>Página actual: {{ gridApi.pagination.getPage() }} de {{ gridApi.pagination.getTotalPages() }}</p>
       <button type="button" class="btn " ng-click="gridApi.pagination.seek(1)">
        Primera
      </button>
      <button type="button" class="btn " ng-click="gridApi.pagination.previousPage()">
        Anterior
      </button>
      <button type="button" class="btn " ng-click="gridApi.pagination.nextPage()">
        Siguiente
      </button>
      <button type="button" class="btn " ng-click="gridApi.pagination.seek(gridApi.pagination.getTotalPages())">
        Última
      </button>
</div>
</section>

<!-- Modal Eliminar -->
<div id="m-eliminar" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Eliminar Curso</h4>
            </div>
            <div class="modal-body ng-scope"><p>¿Estás seguro de querer eliminar este registro?</p></div>
                <div class="modal-footer"><button type="button" class="btn btn_c1" data-dismiss="modal" ng-click="delNIV()"><i class="fa fa-check-circle" aria-hidden="true"></i>Sí</button><button type="button" class="btn btn_c2" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>No</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal Eliminar -->

<!-- Modal Editar-->
  <div id="m-edi-estb" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Editar Curso</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <div class="row">
                    <label class="control-label col-md-8" for="nombre">Institución</label>
                    <select ng-model="registroEdit.id_Institucion" class="form-control" ng-options="colegio.id as colegio.nombre for colegio in combo">
                  </select>
              </div>

              <div class="row">
                <label class="control-label col-md-8" for="nombre">Nombre</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre" ng-model="registroEdit.nombre" ng-required="required">
                </div>
              </div>
              <div class="row">
                   <label class="control-label col-md-8" for="respuesta">Estado</label>
                    <div class="col-md-8">
                        <input type="checkbox" ng-model="registroEdit.estado" ng-true-value="'A'" ng-false-value="'I'">
                        <strong ng-if="registroEdit.estado == 'A'"> Activo</strong><strong ng-if="registroEdit.estado == 'I'"> Inactivo</strong>
                   </div>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="updNIV(registroEdit)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Editar -->
<!-- Modal Agregar Establecimiento-->
  <div id="m-agr-estb" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Agregar Curso</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <div class="row">
                    <label class="control-label col-md-8" for="nombInstitucion">Institución</label>
                    <select ng-model="datos.id_Institucion" id="nombInstitucion" class="form-control" ng-options="colegio.id as colegio.nombre for colegio in combo" ng-change="datos.nombre_Institucion = colegio.nombre">
                   </select>
                    <input type="text" id="nombreInstitucion" ng-model="datos.nombre_Institucion">
              </div>
              <div class="row">
                <label class="control-label col-md-4" for="nombCurso">Nombre Curso</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="nombCurso" placeholder="Ingrese curso" ng-model="datos.nombre">
                </div>
              </div>
              <div class="more"></div>
            </div>
            <div class="row">
                   <label class="control-label col-md-8" for="respuesta">Estado</label>
                    <div class="col-md-8">
                        <input type="checkbox" ng-model="datos.estado" ng-true-value="'A'" ng-false-value="'I'">
                        <strong ng-if="datos.estado == 'A'"> Activo</strong><strong ng-if="datos.estado == 'I'"> Inactivo</strong>
                   </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="addNIV(datos)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fin Modal Agregar -->

