<form name="frmUpd" role="form">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actualizar Preguntas Seguridad</h3>
  </div>
  <div class="panel-body">

    <div class="container">
        Pregunta: <input type="text" ng-model="ngDialogData.datos.pregunta">
        <hr>
        <button id="btnGrabar" type="button" class="btn btn-default">
            <i class=" fa fa-pencil"></i>
            Actualizar
        </button>
        <button id="btnGrabar" type="button" class="btn btn-default" ng-click="closeThisDialog()">
            <i class=" fa fa-ban"></i>
            Cancelar
        </button>
    </div>
  </div>
</div>
</form>
