<section class="ng-scope m-curs" ng-init="getAll()">
<div class="container ng-scope">
    <h2>Mis Pruebas</h2>
    <div class="bjd">
        <button class="btn " data-toggle="modal" type="button" ng-click="nuevaPrueba()">
          <i class="fa fa-plus-circle"></i> Nueva Prueba Autom&aacute;tica
        </button>
        <button class="btn " data-toggle="modal" type="button" ng-click="nuevaPruebaManual()">
          <i class="fa fa-plus-circle"></i> Nueva Prueba Manual
        </button>
        <button class="btn " data-toggle="modal" data-target="#m-agr-var" type="button" ng-click="selectPrueba()">
          <i class="fa fa-plus-circle"></i> Variante
        </button>
        <button class="btn " data-toggle="modal" data-target="#m-lst-var" type="button" ng-click="listarVariantes()">
          <i class="fa fa-share-alt"></i> Variantes
        </button>
        <button class="btn " data-toggle="modal" data-target="#m-cam-est" type="button" ng-click="selectPrueba()">
          <i class="fa fa-check-circle"></i> Cambiar Estado
        </button>
        <a class="btn " role="button" href="template1.0.pdf" download target="_self">
          <i class="fa fa-file-text"></i> Plantilla Respuesta
        </a>
    </div>
     <div class="row row-centered">
        <div class="col-md-12 col-centered">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-edit ui-grid-selection class="grid"></div>
        </div>
      </div>
      <p>Página actual: {{ gridApi.pagination.getPage() }} de {{ gridApi.pagination.getTotalPages() }}</p>
       <button type="button" class="btn " ng-click="gridApi.pagination.seek(1)">
        Primera
      </button>
      <button type="button" class="btn " ng-click="gridApi.pagination.previousPage()">
        Anterior
      </button>
      <button type="button" class="btn " ng-click="gridApi.pagination.nextPage()">
        Siguiente
      </button>
      <button type="button" class="btn " ng-click="gridApi.pagination.seek(gridApi.pagination.getTotalPages())">
        Última
      </button>
</div>
</section>

<div id="m-lst-var" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Lista de Variantes de Prueba</h4>
        </div>
        <div class="modal-body">

            <ul class="list-group">
              <li class="list-group-item" ng-repeat="vrt in listaVariantesPrueba">Identificador Variante: {{vrt.id_PruebaVariante}} | Cod. Variante: {{vrt.cod_PruebaVariante}} | Prueba: {{vrt.descripcion_Prueba}}
               <button class="btn " type="button" ng-click="printPrueba(vrt.id_PruebaVariante)">
                  <i class="fa fa-print"></i> Imprimir
                </button>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="m-cam-est" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Cambiar Estado Prueba</h4>
          </div>
          <div class="modal-body">
            <button class="btn " type="button" ng-click="PruebaCorregida()">
               <i class="fa fa-check-circle"></i> Prueba Corregida
             </button>

          </div>
        </div>
      </div>
    </div>

<div id="m-agr-var" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Genera Variante</h4>
        </div>
        <div class="modal-body">
         <form name="frmOp1">
          <div class="form-horizontal" role="form">
            <div class="form-group col-md-12">
              <div class="row">
                   <div class="form-group col-xs-6">
                    <label class="control-label col-md-6" for="prueba">Id de Prueba</label>

                      <input type="text" class="form-control" id="prueba" ng-model="datos.id_prueba" ng-required="true" ng-disabled="true">

                  </div>
                   <div class="form-group col-xs-6">
                       <label class="control-label col-md-6" for="variante">Cant. Variantes</label>

                          <input type="text" class="form-control" id="variante" placeholder="Ingrese numero de variantes" ng-model="datos.num_var" ng-required="true" ng-maxlength="10" maxlength="10">

                  </div>
              </div>



            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn_c1" data-dismiss="modal" value="Aceptar" ng-click="generaVariante(datos.id_prueba, datos.num_var)" ng-disabled="!frmOp1.$valid">
            </div>
          </div>
         </form>
        </div>
      </div>
    </div>
  </div>
