<section class="ng-scope m-alum" ng-init="comboAsignatura();comboTema();">
<div class="container ng-scope">
    <h2>Prueba Nueva Manual</h2>
    <form name="frm0">
    <div class="bjd">
        <div class="row">
            <div class="col-md-4">
               <h3>Descripci&oacute;n</h3>
               <input class="form-control" name="descripcion" type="text" ng-model="datos.descripcion"  ng-required="true">
            </div>
            <div class="col-md-4">
                <h3>Asignatura</h3>
                 <select ng-model="datos.id_Asignatura" class="form-control" ng-options="asig.id as asig.nombre for asig in ComboAsignatura"  ng-required="true">
                </select>
            </div>
            <div class="col-md-4">
                <h3>Fecha Planificada</h3>
                <input type="date" name="fecha" ng-model="datos.fecha" class="form-control"  ng-required="true">
                <input type="hidden" ng-model="datos.id_Forma">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label" for="notaMin">Tema</label>
                <select ng-model="datos.id_Tema" size="10" class="form-control" ng-options="tem.id as tem.nombre for tem in ComboTema" ng-change="getPreguntas(datos.id_Tema)" ng-required="true">
                </select>
            </div>
            <div class="col-md-6">
                 <label class="control-label" for="notaMin">Preguntas</label>
                <!--<select ng-model="datos.id_Pregunta" size="10" class="form-control" ng-options="pre.id_Pregunta as ('[' + pre.tipo_Pregunta + '] - ' + pre.descripcion_Pregunta) for pre in preguntaList">-->
                    <select ng-model="datos.modelPregunta" size="10" class="form-control" ng-options="('[' + pre.tipo_Pregunta + '] - ' + pre.descripcion_Pregunta) for pre in preguntaList track by pre.id_Pregunta">
                    </select>
                <button class="btn " type="button" ng-click="addPreguntaPrueba(datos.modelPregunta)">
                  <i class="fa fa-plus-circle"></i> Agregar
                </button>
            </div>
        </div>
        <div class="row">
             <div class="col-md-8">
                <table class="table table-sm">
                     <label class="control-label" for="notaMin">Preguntas Prueba</label>
                  <thead>
                    <tr>
                      <th scope="col">Tema</th>
                      <th scope="col">Pregunta</th>
                      <th scope="col">Tipo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="regPrueba in listaPreguntasPrueba">
                      <td align="left">{{regPrueba.nombre_Tema}}</td>
                      <td align="left">{{regPrueba.descripcion_Pregunta}}</td>
                      <td>{{regPrueba.tipo_Pregunta}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="control-label" for="notaMin">Nota Minima</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 1,0" ng-model="datos.notaMin" ng-required="true">
            </div>
            <div class="col-md-2">
                <label class="control-label" for="notaMax">Nota Maxima</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 7,0" ng-model="datos.notaMax" ng-required="true">
            </div>
            <div class="col-md-2">
                <label class="control-label" for="notaMin">Aprobacion</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 4,0" ng-model="datos.notaAprob" ng-required="true">
            </div>
            <div class="col-md-2">
                <label class="control-label" for="notaMin">Exigencia</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 60" ng-model="datos.exigencia" ng-required="true">
            </div>
            <div class="col-md-2">
                <label class="control-label" for="notaMin">Puntaje Maximo</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 100" ng-model="datos.puntajeMax" ng-required="true">
            </div>
        </div>
        <hr>
    </div>
    <!-- div class="alert alert-warning" role="alert">
        <strong>Informacion:</strong> Para crear la prueba, debes arrastrar las preguntas a la caja de Prueba.
    </div>
    <div class="simpleDemo row">
        <div class="col-md-12">
            <div class="row">
                <div ng-repeat="(listName, list) in models.lists" class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{listName}}</h3>
                        </div>
                        <div class="panel-body" ng-include="'app/vprofesor/pruebas/listas/listas.html'"></div>
                    </div>
                </div>
            </div>
            <div view-source="simple"></div>
        </div>
    </div -->
    <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="grabaPruebaManual(datos)" ng-disabled="!frm0.$valid">
        <i class="fa fa-save"></i>Grabar Prueba
    </button>
    </form>
</div>
</section>
