<section class="ng-scope m-alum" ng-init="comboAsignatura();comboTema();">
<div class="container ng-scope">
    <h2>Prueba Nueva Manual</h2>
    <form name="frm0">
    <div class="bjd">
        <div class="row">
            <div class="col-md-4">
               <h3>Descripci&oacute;n</h3>
               <input class="form-control" name="descripcion" type="text" ng-model="datos.descripcion"  ng-required="true">
            </div>
            <div class="col-md-4">
                <h3>Asignatura</h3>
                 <select ng-model="datos.id_Asignatura" class="form-control" ng-options="asig.id as asig.nombre for asig in ComboAsignatura"  ng-required="true">
                </select>
            </div>
            <div class="col-md-4">
                <h3>Fecha Planificada</h3>
                <input type="date" name="fecha" ng-model="datos.fecha" class="form-control"  ng-required="true">
                <input type="hidden" ng-model="datos.id_Forma">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label" for="notaMin">Seleccionar Tema</label>
                <select ng-model="datos.id_Tema" size="10" class="form-control" ng-options="tem.id as tem.nombre for tem in ComboTema" ng-change="getPreguntas(datos.id_Tema)" ng-required="true">
                </select>
            </div>
            <div class="col-md-6" >
              <label class="control-label">Seleccionar Preguntas</label>
              <div class="list-group" style="overflow-y: scroll; height:250px; width: auto;">
                <a ng-click="addPreguntaPrueba(reg)" class="list-group-item" ng-repeat="reg in preguntaList" data-toggle="tooltip" title="Haga click para seleccionar">
                  <h4 class="list-group-item-heading">{{reg.pregunta.descripcion_Pregunta}}</h4>
                  <div ng-repeat="resp in reg.respuestas">
                      <p class="list-group-item-text"><i class="fa fa-check-circle" aria-hidden="true" ng-if="resp.correcta_Respuesta === 'S'"></i>{{resp.descripcion_Respuesta}}</p>
                  </div>
                </a>
              </div>
              <!--
                 <label class="control-label" for="notaMin">Preguntas</label>
                    <select ng-model="datos.modelPregunta" size="10" class="form-control" ng-options="('[' + pre.tipo_Pregunta + '] - ' + pre.descripcion_Pregunta) for pre in preguntaList track by pre.id_Pregunta">
                    </select>
                <button class="btn " type="button" ng-click="addPreguntaPrueba(datos.modelPregunta)">
                  <i class="fa fa-plus-circle"></i> Agregar
                </button>
            -->
            </div>
        </div>
        <div class="row">
             <div class="col-md-12">
                <table class="table table-sm">
                     <label class="control-label" for="notaMin"><strong>Preguntas Seleccionadas para la Prueba</strong></label>
                  <thead>
                    <tr>
                      <th scope="col">Tema</th>
                      <th scope="col">Pregunta</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="regPrueba in listaPreguntasPrueba">
                      <td align="left">{{regPrueba.pregunta.nombre_Tema}}</td>
                      <td align="left">{{regPrueba.pregunta.descripcion_Pregunta}}</td>
                      <td>{{regPrueba.pregunta.tipo_Pregunta}}</td>
                      <td><button class="btn btn-danger" ng-click="delPreguntaPrueba($index)">Eliminar</button></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="control-label" for="notaMin">Nota Minima</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 1,0" ng-model="datos.notaMin" ng-required="true">
            </div>
            <div class="col-md-2">
                <label class="control-label" for="notaMax">Nota Maxima</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 7,0" ng-model="datos.notaMax" ng-required="true">
            </div>
            <div class="col-md-2">
                <label class="control-label" for="notaMin">Aprobacion</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 4,0" ng-model="datos.notaAprob" ng-required="true">
            </div>
            <div class="col-md-2">
                <label class="control-label" for="notaMin">Exigencia</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 60" ng-model="datos.exigencia" ng-required="true">
            </div>
            <div class="col-md-2">
                <label class="control-label" for="notaMin">Puntaje Maximo</label>
                <input type="number" class="form-control" placeholder="Ejemplo: 100" ng-model="datos.puntajeMax" ng-required="true">
            </div>
        </div>
        <hr>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="grabaPruebaManual(datos)" ng-disabled="!frm0.$valid">
        <i class="fa fa-save"></i>Grabar Prueba
    </button>
    </form>
</div>
</section>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
