<section class="ng-scope m-eval">
<div class="container ng-scope">
    <h2>Mis Evaluaciones</h2>
    <div class="bjd">
        <button class="btn " data-toggle="modal" type="button" ng-click="estadisticas()">
          <i class="fa fa-bar-chart"></i> Estad&iacute;sticas
        </button>
        <button class="btn " data-toggle="modal" type="button" ng-click="evaluar()">
          <i class="fa fa-scanner"></i> Corregir Prueba
        </button>
        <div class="row row-centered"  ng-init="comboCursoInstitucion()">
          <div class="col-md-4">
            <label class="control-label col-md-4" for="asigna">Institución</label>
            <select ng-model="institucion.id" name="asigna" class="form-control" ng-options="institucion.id_Institucion as institucion.nombre_Institucion for institucion in comboIns | unique: 'nombre_Institucion'"><option value="">--SELECCIONE INSTITUCIÓN--</option></select>
          </div>
          <div class="col-md-4">
            <label class="control-label col-md-4" for="nombNivel">Nivel</label>
            <select ng-model="nivel.id" id="nombNivel" class="form-control" ng-options="nivel.id as nivel.nombre for nivel in cmbNiv | filter: { id_Institucion:institucion.id}" ng-change="comboAsignaturaPorNivel(institucion.id, nivel.id)" ng-required="true">
              <option value="">--SELECCIONE NIVEL--</option>
            </select>
          </div>
          <div class="col-md-4">
           <label class="control-label col-md-4" for="asigna">Asignarturas</label>
           <select ng-model="asignatura.id" name="asigna" class="form-control" ng-options="asignatura.id as asignatura.nombre for asignatura in combo"  ng-change="getAll(asignatura.id)"><option value="">--SELECCIONE ASIGNATURA--</option></select>
          </div>
        </div>
    </div>
     <div class="row row-centered">
        <div class="col-md-12 col-centered">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-edit ui-grid-selection class="grid"></div>
        </div>
      </div>
      <p>Página actual: {{ gridApi.pagination.getPage() }} de {{ gridApi.pagination.getTotalPages() }}</p>
       <button type="button" class="btn " ng-click="gridApi.pagination.seek(1)">
        Primera
      </button>
      <button type="button" class="btn " ng-click="gridApi.pagination.previousPage()">
        Anterior
      </button>
      <button type="button" class="btn " ng-click="gridApi.pagination.nextPage()">
        Siguiente
      </button>
      <button type="button" class="btn " ng-click="gridApi.pagination.seek(gridApi.pagination.getTotalPages())">
        Última
      </button>
</div>
</section>
